<header>

  <div>

    <figure>
      <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>

  </div>

  <div>

    <ul class="header-ul">
      <li class="btn btn-outline-danger"><a href="/movies">Lista de Peliculas</a></li>
      <li class="btn btn-outline-danger"><a href="/genres">Lista de Generos</a></li>
      <li class="btn btn-outline-danger"><a href="/">HOME MOVIES</a></li>
    </ul>

  </div>

</header>
